
{% extends 'app1/base.html' %} 

{% block content %}
  <h2>Search for Courses</h2>
  <form method="GET" action="{% url 'search_courses' %}">
    <label for="code">Course Code:</label>
    <input type="text" id="code" name="code">

    <label for="name">Course Name:</label>
    <input type="text" id="name" name="name">

    <label for="instructor">Instructor Name:</label>
    <input type="text" id="instructor" name="instructor">

    <input type="submit" value="Search">
  </form>
{% endblock %}
